#example {
  font-family: sans-serif;
}

.app {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.h2 {
  margin-right: 6px;
  font-size: 22px;
}

.subtitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

* {
  box-sizing: border-box;
}
